body {
	font-family: sans-serif;
	float: left;
}


.octocat img {
	width: 245px;
	border: 2px solid #cfcfcf;
	margin: 10px;
}

.authors img {
	width: 25px;
	float: right;
	margin: 0px 0px 5px 5px;
	border-bottom: 2px solid #cfcfcf;
	border-radius: 5px;
}

.octocat {
	float: left;
	margin: 10px;
	border-radius: 10px;
}

a {
	text-decoration: none;
}

ul {
	list-style-type: none;
}

.image-number {
	color: #cfcfcf;
}

.image-number::before {
	content: "#";
}

.image-caption {
	float: right;
}

.image-footer {
	border-bottom: 2px solid #cfcfcf;
	margin-bottom: 50px;

}

.image-number::before {
	content: "#";
}