body {
	font-family: sans-serif;
	float: left;
	margin: 0px;
}


.octocat img {
	width: 380px;
	border: 1px solid #cfcfcf;
	border-radius: 3px;
}

.authors img {
	width: 25px;
	border-radius: 5px;
}

.octocat {
	float: left;
	border-bottom: 1px solid #cfcfcf;
	margin: 10px;
}

a {
	text-decoration: none;
	color: black;
}

ul {
	list-style-type: none;
	padding: 0px 0px 0px 10px;
}

.image-number {
	color: #cfcfcf;
	font-weight: bold;
	font-size: .9em;
	position: relative;
	right: 8px;
}

.image-footer {
	padding: 10px;
	padding-bottom: 20px;
}

.image-caption {
	display: inline;
	float: right;
	font-weight: bold;
	font-size: .9em;
	color: grey;
	position: relative;
	left: 8px;
}

.image-number::before {
	content: "#";
}

.authors {
	display: inline;
	float: right;
}

.image-caption span{
	position: relative;
	top: 5px;
}

.image-caption a {
	position: relative;
	top: 5px;
}

.authors img {
	position: relative;
	bottom: 5px;
}